@font-face {
    font-family: 'Outfit';
    src: url('fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'young-serif';
    src: url('fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --white: hsl(0, 0%, 100%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 10px;
    background-color: var(--stone-100);
    color: var(--stone-600);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.content {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: min(90%, 450px);
    border-radius: 16px;
    padding: 24px;
    margin: auto;
}

.recipe-intro {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.image-omelette {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

h1 {
    font-family: 'young-serif', serif;
    color: var(--stone-900);
    font-weight: 300;
    font-size: 28px;
}

.preparation-time {
    background-color: var(--rose-50);
    border-radius: 10px;
    padding: 16px;
}

.time-title {
    font-family: 'young-serif', serif;
    color: var(--rose-800);
    font-size: 14px;
    font-weight: 600;
}

.time,
.ingredients,
.instructions {
    padding-left: 16px;
    /* Space between the points and the border */
}

.time li,
.ingredients li,
.instructions li {
    padding-left: 14px;
    /* Space between the points and the text*/
    margin-block: 4px;
}

.time li::marker {
    color: var(--rose-800);
    font-size: 6px;
}

h2 {
    font-family: 'young-serif', serif;
    color: var(--brown-800);
    font-weight: 400;
    font-size: 18px;
}

.ingredients li::marker {
    color: var(--brown-800);
    font-size: 6px;
}

hr {
    border: none;
    border-top: 1px solid var(--stone-150);
    /* for a thin line */
    width: 100%;
    margin: 20px;
}

.instructions li::marker {
    color: var(--brown-800);
    font-weight: bold;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border-block: 1px solid var(--stone-150);
    padding: 8px 0 8px 16px;
    font-size: 11px;
}

tr:first-child td,
tr:last-child td {
    border: none;
}

.nutrition-value {
    color: var(--brown-800);
    font-weight: bold;
}

.attribution a {
    text-decoration: none;
    color: var(--stone-900);
    font-weight: 600;
}

.attribution a:hover {
    text-decoration: underline;
}

.attribution a:focus-visible {
    outline: 2px solid var(--stone-900);
    border-radius: 2px;
}